<div data-ng-if="$ctrl.selectedChart === 'gender'" class="gender-menu-container">
    <div class="gender-menu-container-element">
        <span class="label label-danger">Female</span>
        <input type="checkbox" data-ng-model="$ctrl.femaleCheckbox" class="checkbox-input">
    </div>
    <div class="gender-menu-container-element">
        <span class="label label-primary">Male</span>
        <input type="checkbox" data-ng-model="$ctrl.maleCheckbox" class="checkbox-input">
    </div>
</div>
<div data-ng-if="$ctrl.selectedChart === 'age'" class="gender-menu-container">
    <div class="gender-menu-container-element slider">
        <span class="label label-danger">Min</span>
        <input type="range"
            data-ng-model="$ctrl.min"
            data-ng-init="$ctrl.min = 0"
            class="checkbox-input">
        <div data-ng-bind="$ctrl.min"></div>
    </div>
    <div class="gender-menu-container-element slider">
        <span class="label label-primary">Max</span>
        <input type="range"
            data-ng-model="$ctrl.max"
            data-ng-init="$ctrl.max = 100"
            class="checkbox-input">
        <div data-ng-bind="$ctrl.max"></div>
    </div>

</div>