<div data-ng-if="$ctrl.selectedChart === 'sex'" class="chart-container" id="gender">
    <div class="chart-container-element">
        <span class="label label-danger label-orange">Female</span>
        <input type="checkbox" data-ng-model="$ctrl.femaleCheckbox" class="checkbox-input">
    </div>
    <div class="chart-container-element">
        <span class="label label-primary label-blue">Male</span>
        <input type="checkbox" data-ng-model="$ctrl.maleCheckbox" class="checkbox-input">
    </div>
</div>
<div data-ng-if="$ctrl.selectedChart === 'age'" class="chart-container">
    <div class="chart-container-element slider">
        <span class="label label-danger label-orange">Min</span>
        <input type="range"
            data-ng-model="$ctrl.min"
            ng-model-options="{ debounce: 250 }"
            class="checkbox-input">
        <div class="value-label" data-ng-bind="$ctrl.min"></div>
    </div>
    <div class="chart-container-element slider">
        <span class="label label-primary label-blue">Max</span>
        <input type="range"
            data-ng-model="$ctrl.max"
            ng-model-options="{ debounce: 250 }"
            class="checkbox-input">
        <div class="value-label" data-ng-bind="$ctrl.max"></div>
    </div>
</div>